body{
  background-color:#222;
  font-family:italic;
}
#top{
  margin-top:50px;
}
h1{
  color:white;
  text-align: center;
  font-size: 30px;
  font-weight: 20px;
  margin-top:0px;
  margin-bottom:0px;
}
button{
  background:white;
  border-radius:50%;
  
}
#out{
  background:url("top2.txt");
  margin-left:40px;
  width:300px;
  height:420px;
  border:2px solid black;
}

#search{
  margin-top:10px;
  display:flex;
  align-items:center;
  justify-content: space-evenly;
}
input{
   height:30px;
  border-radius:30px;
  padding-left:30px;
  font-size:15px;
}
img{
 height:150px;
 width:200px;
}
#img{
  margin-top:20px;
  position:relative;
  margin-left:15%;
}
#low{
  margin-top:15px;
  display:flex;
  align-items: center;
  justify-content: space-evenly;
}
.inl{
  font-size:20px;
  color:white;
  display:inline;
}
p{
  margin:0px;
  padding:0px;
  display:inline;
}
span{
  display:inline;
}
#weather{
  text-align:15px;
  margin-top:10px;
  color:black;
}
